<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} {% endblock %} </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="og:title" content="paste.py 🐍"/>
    <meta name="og:site_name" content="paste.py"/>
    <meta
            name="og:description"
            content="A simple pastebin powered by FastAPI."
    />
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://paste.fosscu.org"/>
    <meta name="og:locale" content="en_US"/>
    {% block headlinks %} {% endblock %}
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script>
        {% block script %}
        {% endblock %}
    </script>
</body>
</html>
